<a href="https://colab.research.google.com/github/rdkdaniel/Data-Analysis-in-Python-and-Sql/blob/main/Data_analysis_Smartwatch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

In [4]:
#Load dataset
smartwatch = pd.read_csv('smartwatch.csv')

In [5]:
print(smartwatch.head())

    index               source                timestamp  \
0  164349              battery  2017-06-29 07:45:56.262
1  164350        accelerometer  2017-06-29 07:46:01.263
2  164351              gravity  2017-06-29 07:46:01.324
3  164352  linear_acceleration  2017-06-29 07:46:01.329
4  164353            gyroscope  2017-06-29 07:46:01.402

                                             values
0                                            ['98']
1          ['-0.3440857', '0.68330383', '9.967361']
2          ['-0.34131828', '0.6573288', '9.778641']
3   ['-0.018068999', '0.034808993', '-0.033065796']
4  ['0.0041656494', '-0.0132751465', '0.006164551']

In [7]:
#Checking for null values
print(smartwatch.isnull().sum())

index        0
source       0
timestamp    0
values       0
dtype: int64

In [8]:
#No null values
#Looking at info about the columns in the data
print(smartwatch.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200471 entries, 0 to 200470
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   index      200471 non-null  int64
 1   source     200471 non-null  object
 2   timestamp  200471 non-null  object
 3   values     200471 non-null  object
dtypes: int64(1), object(3)
memory usage: 6.1+ MB
None

In [11]:
print(smartwatch.describe())

               index
count  200471.000000
mean   100235.000000
std     57871.137245
min         0.000000
25%     50117.500000
50%    100235.000000
75%    150352.500000
max    200470.000000